body{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    margin-top: 20px;

}

.container-logo{
    display:flex;
    width: 1100px;
    height: 100px;
}

img{
    width: 100px;
    height: 100px;
}

h1{
    margin-bottom: 0;
    margin-top: 50px;
    font-family: Cinzel;
    opacity: 0.7;
    font-size: 20px;
    letter-spacing: 10px;
    
}


.navmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 8px;
    margin-left: 50px;
    width: 500px;
    height: 100px;
}

a{
    margin-bottom: 0;
    margin-top: 45px;
    color: #cc0000;
    opacity: 0.7;
    text-decoration: none;
    font-family: Cinzel;
    opacity: 0.7;
    font-size: 16px;
    transition: .5s;
}

a:hover{
    transition: 1s;
    letter-spacing: 7px;
}